@model CanvasMvcHelloWorld.Models.HelloWorldModel
<html>
    <head>
        <title>Index</title>    
    </head>
    <body>
        <h2>Index</h2>
        <ul>
            <li>@Model.Greeting</li>
            <li>Signed Request Status:
                <div>
                    @Model.SignedRequestStatus
                </div>
            </li>
        </ul>
    </body>
</html>

